body {
    background-color: #dae3e5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu-section {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    align-items: center; 
    padding: 10px;
    border-bottom: solid black;
    border-width: 2px;
    background-color: #95B4DF;
}

.menu h2 {
    margin: 0;
    margin-right: 1100px;
}

.menu-button {
    background-color: transparent;
    color: #04080f;
    border: none;
    padding: 10px;
}

.menu-line {
    background-color: black;
    height: 1px;
    margin-top: 30px;
}

.middle-section {
    margin-bottom: 20px;
}

.middle {
    padding-top: 25px;
    margin-left: 100px;
}

.intro {
    font-weight: normal;
    font-size: small;
}

.calendar-section {
    margin-bottom: 20px;
}

.calendar {
    margin-left: 100px;
}

.months {
    margin-bottom: 10px;
}

.months button {
    width: 80px;
    height: 30px;
}

.calendar-body {
    padding: 10px;
}

.schedule-section {
    margin: 100px;
}

.booking-option {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px; 
    text-align: center; 
}

.booking-option img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.booking-option button {
    background-color: #a1c6ea;
    color: black;
    border: none;
    margin: 2px;
    padding: 12px;
    width: 75px;
    border-radius: 30px;
}
